$sidebar-top-color: 690800;
$sidebar-color: 505050;
$side-bar-highlighted-bckgrd: 383838;
$side-bar-highlighted-text: ffffff;
$side-bar-text: 505050;

$title-color: 720400;
$sub-oil-gas: 787878
$sub-bcu: 9e9e9e;
$hamburger-outside: f3d83f;
$control-center-bckgrd: 383838;
$control-center-font: 636b75;
$profile-acount-font: 383838;
$logout-bckgrd: 7e878c;
$logoout-font: f1eeee;
$body-bckgrd: f1f1f1;
$course-desc-title: 796868;
$course-desc-body: c6c6c6;
$highlighted-group-underline: f3d83f;
$highlighted-group-text: 686767;
$group-text: b6b6b6;

$footer-bckgrd:444444;