@import '_vars';
@import 'modules/_blur';
@import 'modules/_slideIn';
@import 'modules/_hamburger';

@font-face {
	font-family: 'tw';
	src:
         url('../fonts/TwCenMT_Regular.woff') format('woff'),
         url('../fonts/TwCenMT_Regular.woff2') format('woff2'),
         url('../fonts/TwCenMT_Regular.ttf') format('truetype') ;}

body{
    background-color: $bckgrdColor;
    width: 100%;
    margin: 0;
    padding: 0;
}

.hidden
{
    display: none;
}

 h1, h2, p, a
{
  color: $navFont;
  font-family: tw, 'Times New Roman', Times, serif;
}

li{
    list-style-type: none;
}

.title
{
   text-align: center; 
   display: block;
    margin: 0;
  }

  .title h1
  {
      margin: 0;
      letter-spacing: 2px;
      font-size: 48px;
      color: rgb(255, 255, 255);
      text-transform: uppercase;
  }
  


 
  .hide {
    display: none;
  }
       

  .mobileFace
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  .bottom
  {
      text-align: center;
      margin-top: 10px;
  }

  
    .studentPortfolio {
      font-size: 0.875rem;
      text-transform: uppercase;
      line-height: 1.2;
    }
    
  


@media (min-width: $breakpoint-tablet){}

