@import '_blur';
@import '_slideIn';

#navbar {
    top: 0;
    left: 0;
    position: fixed;
    width: 75%;
    opacity: .87;
    height: 100vh;
    background-color: white;
    z-index: 10;
    animation-name: slideIn;
    animation-duration: .8s;
  }
  #nav-btn {
    cursor: pointer;
    position: fixed;
    top: 2px;
    left: 85%;
    border-radius: 50%;
    padding: 1em;
    z-index: 100;
    transition: transform 300ms;
    animation-name: blur;
    display: box;
  }
  @media (min-width: $breakpoint-tablet){
    #nav-btn {
        display: none;
    }
  }

  .nav-links {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    list-style: none;
    text-align: center;

  }
  .nav-link {
    display: block;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 5vw;
    text-decoration: none;
    color: goldenrod;
    text-transform: uppercase;
    transition: all 200ms;
    text-align: center;
    
    
  }
 
  
  .hide {
    display: none;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(0deg) translate();
    transform: rotate(0deg) translate();
}

.change .bar2 {opacity: 1;}

.change.bar3 {
    -webkit-transform: rotate(-45deg) translate(8px, -8px);
    transform: rotate(-45deg) translate(8px, 8px);
}

.changeBack .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.changeBack .bar2 {opacity: 0;}

.changeBack .bar3 {
    -webkit-transform: rotate(-45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.slideOut
{
    animation-name: slideOut;
    animation-duration: .7s;
}